.active {
  /*color: darkred;*/
  outline: none;
  box-shadow: 5px 5px black !important;

}

.card {
  display: flex;
  justify-content: space-between;
  box-shadow: 30px 10px 70px -30px rgba(0,0,0,0.8);
  padding: 5px;
  transition: box-shadow 0.1s ease-in;
  margin-bottom: 30px;
}

.card.none {
  display: none;
}

  .card:active {
    outline: none;
  }
  .card:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  }

h1 {
  font-size: 24px;
}

.done {
  text-decoration: line-through;
}
