* {
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
}

.layout aside {
  flex-basis: 20%;
  padding: 20px;
}

.layout > section {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  padding: 30px;
}
